@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: radial-gradient(#fff,#000);
}


.cardabout{
    position: absolute;
    margin: 100vh 0 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    
}

.cardabout .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.cardabout:hover .front {
    transform: rotateY(-180deg);
}

.cardabout .back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}



.cardabout:hover .back {
    transform: rotateY(0deg);
}

.cardabout .back .details {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
}

.cardabout .back .details .h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.cardabout .back .details .h2 span{
    color: #a7a7a7;
    font-size: 16px;
}

.social-icons {
    margin-top: 100%;
    padding: 10px 0;
}

.social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icons a .fa{
    line-height: 36px;
}

.social-icons a:hover {
    background: #e91e63;
}

.container{
    position: absolute;
    margin:0 0 0 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.container div{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100vh;
    background:#302f31 ;
}



.container div:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/humpty.webp);
    background-attachment:fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
   
    transition: 2s linear;
}

.container div.flip:after{
   
    transform: rotateX(-90deg) translateY(-90%);
}
