body{
    margin: 0;
    padding: 0;
    background: #607d8b;
}

.box{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    transform: perspective(1000px) rotateY(-45deg);
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
}

.box:before{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    filter: blur(40px);
    opacity: 0.5;
    transform: rotateX(90deg);
}

.box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: animaterotate 5s linear infinite;
    
}

.box div span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f1f1f1,#bbb,#f1f1f1);
    border-radius: 20px;
}

.box div span:nth-child(1){
    transform: rotateX(0deg);
}
.box div span:nth-child(2){
    transform: rotateX(45deg);
}
.box div span:nth-child(3){
    transform: rotateX(-45deg);
}
.box div span:nth-child(4){
    transform: rotateX(90deg);
}

@keyframes animaterotate {
    0%{
        transform: perspective(1000px) rotateX(0deg);
    }
    100%{
        transform: perspective(1000px) rotateX(359deg);
    }
}

.language{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}

section{
    background: #000;
    margin: 100vh 0 0 0;
    position: absolute;
    height: 100vh;
    display: flex;
   
}

section .screen{
    background-color:  #888;
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transition: 1s;
}

section:hover .screen{
    opacity: 0.0;
}

section .screen:hover{
    flex-grow: 10;
    opacity: 1;
}

section .screen:nth-child(1){
    background: url(img/java.png);
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(2){
    background: url(img/spring.png);
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(3){
    background: url(img/angular.png);
    background-repeat: no-repeat;
    background-position: center;
}

section .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.4s;
    text-align: justify;
}

section .screen:hover .content{
    transform: translateX(0);
}

section .screen .content h6{
    text-align: top;
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #ed353a;
}
section .screen .content p{
     margin: 0;
    padding: 0;
}

