body{
    margin: 0;
    padding: 0;
    background: #000;
    font-family: sans-serif;
}

section{
    overflow:hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#333,#000);
   
}

section img{
    height:80px; 
}

.set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div{
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(2) {
    left: 0%;
    animation: animate 25s linear infinite;
    animation-delay: -19s;
}
.set div:nth-child(3){
    left: 40%;
    animation: animate 20s linear infinite;
    animation-delay: -2s;
}
.set div:nth-child(4){
    left: 50%;
    animation: animate 38s linear infinite;
    animation-delay: -12s;
}
.set div:nth-child(6){
    left: 80%;
    animation: animate 5s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(5){
    left: 45%;
    animation: animate 18s linear infinite;
    animation-delay: -23s;
}
.set div:nth-child(7){
    left: 30%;
    animation: animate 10s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(8){
    left: 60%;
    animation: animate 5s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(16){
    left: 20%;
    animation: animate 25s linear infinite;
    animation-delay: -2s;
}
.set div:nth-child(15){
    left: 10%;
    animation: animate 12s linear infinite;
    animation-delay: -18s;
}
.set div:nth-child(14){
    left: 40%;
    animation: animate 29s linear infinite;
    animation-delay: 0s;
}
.set div:nth-child(11){
    left: 70%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(13){
    left: 80%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(10){
    left: 85%;
    animation: animate 4s linear infinite;
    animation-delay: -12s;
}
.set div:nth-child(9){
    left: 90%;
    animation: animate 9s linear infinite;
    animation-delay: -2s;
}
.set div:nth-child(12){
    left: 70%;
    animation: animate 35s linear infinite;
    animation-delay: -5s;
}

@keyframes animate{
    0%{
        top:-10%;
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(135deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        transform: translateX(-20px) rotate(225deg);
        top:100%
    }
}

.set2{
    position:absolute;
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    
}
.set3{
    position: absolute;
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);
}

h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 8em;
    font-family: sans-serif;
}


.shadow
{
    
    top: 105%;
    left: 50px;
    position: relative;
    width: 400px;
    height: 250px;
    background: linear-gradient(0deg,#000,#262626);
}


.shadow:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animateframe 20s linear infinite;
}

.shadow:after {
    filter: blur(20px);
}

@keyframes animateframe {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 700px auto;
    margin-left: 40px;
}

.container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #00f;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.container .box .icon .fa{
    font-size: 40px;
}

.container .box .content{
    position: absolute;
    top: 100px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.container .box .content{
    top: 100px;
    opacity: 1;
}

.container .box .content h3{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container .box .content{
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box:nth-child(1) .icon{
    background: #319635;
}

.container .box:nth-child(1){
    background: #4caf50;
}
.container .box:nth-child(2) .icon{
    background: #d03852;
}

.container .box:nth-child(2){
    background: #f54967;
}
.container .box:nth-child(3) .icon{
    background: #23798e;
}

.container .box:nth-child(3){
    background: #328fa5;
}